<div class="row"><!-- ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Albert Kang</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Guillermo Serena Ruiz</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Haoyu Zhu</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Harish Harinarayanan</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Ishanka Demuni</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Jeroen Egelmeers</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Joost van den Heuvel</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Louis Kim</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Mustafa Demirkol</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Female.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Female.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Nina Novosel</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Ramon Rayli</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Siang Yang</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Female.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Female.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Tracy Chiu</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Valerii Muravev</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances -->
    <div class="row ng-scope" ng-repeat="student in eaCtrl.eventAttendance.studentAttendances">
        <div class="finger-v2 finger-v2--small-facer finger-v2--no-link">
            <div class="finger-v2__main">
                <div class="finger-v2__content">
                    <div class="finger-v2__addon">
                        <figure class="profile-image profile-image--facer"><img
                                ng-src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"
                                src="/spa/client/assets/img/default-avatar-images/Avatar_Student_Male.jpg"></figure>
                    </div>
                    <div class="finger-v2__description"><p class="finger-v2__description__content"><span
                            class="typo-small typo-bold ng-binding">Wladimir Duarte Ortiz</span>
                        <!-- ngIf: student.isSubstituteEvent --> <!-- ngIf: student.isSignedOff --></p></div>
                </div>
            </div>
        </div>
        <div class="facers-wrp-fancybox__checkbox"><input type="checkbox" data-test-id="checkAttendance"
                                                          ng-model="student.didAttend"
                                                          ng-change="eaCtrl.selectOrDeselectStudent(student)"
                                                          class="ng-pristine ng-untouched ng-valid ng-empty"></div>
    </div><!-- end ngRepeat: student in eaCtrl.eventAttendance.studentAttendances --></div>